@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set Password Success";
}

<div class="text-center">
    <p id="text">set password...</p>
</div>

@section Scripts{
    <script>
    function redirect(){
        setTimeout(() => {
            const url = '@Model.RedirectUrl';
            if (url && url !== '') {
                document.querySelector("#text").innerHTML = 'redirecting...';
                setTimeout(() => {
                        window.location.replace('@Model.RedirectUrl');
                }, 2000);
            }
            else{
                document.querySelector("#text").innerHTML = 'no redirect URL';
            }
        }, 1000);
    }
    document.addEventListener("DOMContentLoaded", function(event) { 
     redirect();
    });
    </script>
}