@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set Password";
}

<div class="text-center">
    <h1 class="display-4">Set new password</h1>
    <form asp-route="SetPassword" method="post">
        <div>
            <span>Password</span>
            <input asp-for="Password" value=""/>
            <input asp-for="Id" value="@Model.Id" hidden/>
            <input asp-for="RedirectUrl" value="@Model.RedirectUrl" hidden/>
            <input type="submit" value="Login">
        </div>
    </form>
</div>